body{
    background-image:url("\images\home.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    
}
.container{
    border:5px solid rgb(116, 19, 19);
    border-radius:5px;
    padding:16px;
    position:absolute;
    right:0;
    bottom: 0;
    background-color: rgba(167,201,201,0.2);
}
.container img{
    float:left;
    margin-right:20px;
    border-radius:15%;
}
h3{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}
.skillset{
    width:485px;
    background-color:rgba(39, 43, 43, 0.521);
    padding:10px;
    border-radius:5px;
    border:5px solid rgb(116, 19, 19);
}
.skills{
    text-align:right;
    padding-top:10px;
    padding-bottom: 10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    border:0.25px solid #ccc;

}
.wes{
    width:90%;
    background-color:red;
}
.py{
    width:95%;
    background-color:rgb(229, 255, 0);
}
.wed{
    width:80%;
    background-color:red;
}
.ux{
    width:75%;
    background-color:rgb(229, 255, 0);
}
.php{
    width:80%;
    background-color:red;
}
.js{
    width:60%;
    background-color:rgb(229, 255, 0);
}
.com{
    width:85%;
    background-color:red;
}
.pre{
    width:80%;
    background-color:rgb(229, 255, 0);
}
.pub{
    width:90%;
    background-color:red;
}
.man{
    width:90%;
    background-color:rgb(229, 255, 0);
}
.tem{
    width:85%;
    background-color:red;
}
.lead{
    width:95%;
    background-color:rgb(229, 255, 0);
}
.sidenav{
    
    background-repeat:no-repeat;
    display:none;
    height:100%;
    width:250px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: white;
    overflow-x:hidden;
    padding-top:60px;
}
span{
    color:black;

}
.sidenav a{
    padding:30px 20px 8px 32px ;
    text-decoration:none;
    font-size:25px;
    color:grey;
    display:block;


}
.sidenav a:hover{
    color:orange;

}
.sidenav .closebtn{
    position:absolute;
    color:black;
    top: 0;
    right: 25px;
    font-size:40px;
    margin-left:50px;

}
img{
    width:85%;
    height:25%;
    padding-top: 80%;
    padding-left:8%;
}